body,html{
    background-color:rgb(252, 229, 201);
    
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
nav{
    width: 1235px;
    height: 100%;
    position:absolute;
    top :0;
    left:0;
    padding:20px 8%;
    display:flex;
}
nav ul li{
    list-style: none;
     display: inline-block;
     margin-left:50px;
}
nav ul li a{
   text-decoration: none;
   color:rgb(73, 46, 46);
   font-size: 35px;
}
.video{
    top: 0;
    left: 0;
    width: 100%;
    height: 300%;
    object-fit: cover;
    margin-top: 100px;
}
.home{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    transform: translate(-1265%, 50%);
}
.menu{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    transform: translate(-385%, -14%);
}

.review{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    transform: translate(-15%, 50%);
}
.aboutus{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px; 
    transform: translate(-155%, 50%);
}
.logo{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    transform: translate(-232.5%, -37.5%);
}
a:hover{
color:black;
}
h3,h4,h5{
    font-size: 50px;
    color:rgb(73, 46, 46);
}

.Productstable td, .Productstable{
    border: 1px solid  rgb(73, 46, 46);
    border-collapse: collapse;
}

.dropdown-title {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .dropdown-logo {
    font-size: 35px;
    margin-right: 5px;
    color:rgb(73, 46, 46);
  }
  
  .dropdown-txt {
    font-size: 35px;
    color:rgb(73, 46, 46);
  }
  

  
  .dropdown-list {
    display: none;
    position: absolute;
    background-color:bisque;
    border-radius: 15px;
  }
  
  .dropdown:hover .dropdown-list {
    display: block;
  }
  
  .dropdown-list-item {
    padding: 12px 16px;
    display: block;
    font-size: 20px;
  }
  
  .dropdown-list-item:hover {
    background-color:antiquewhite;
    border-radius: 15px;
  }
  #img2, #img4, #img6, #img8,#img10,#img12,#img14,#img16,#img18,#img20,#img22,#img24,#img26,#img28,#img30{
    display: none;
  } 
  
.description td{
width: 20%;
font-size: 18px;
font-family:'Times New Roman', Times, serif;

}
